<div  th:fragment="header" class="shadow">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
        <li class="nav-item"><a href="http://localhost:8080/pessoa" class="nav-link" aria-current="page">Pessoas</a></li>
        <li class="nav-item"><a href="http://localhost:8080/deficiencia" class="nav-link" aria-current="page">Deficiencia</a></li>
        <li class="nav-item"><a href="https://www.youtube.com/watch?v=fFIHtaTLeeA" class="nav-link">Ajuda</a></li>
        </ul>
    </header>
</div>
